@model Spedizioni.Models.Spedizione


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spedizione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSpedizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSpedizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominativoDestinatario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominativoDestinatario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrezzoSpedizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrezzoSpedizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConsegna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConsegna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSpedizione">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<hr/>
<h2>Dettagli Stato Spedizione</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DettagliSpedizione)
                </th>

                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DettagliSpedizione)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDettagliSpedizione)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdSpedizione)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stato)
                    </td>
                </tr>
            }
        </tbody>
    </table>
