@model IEnumerable<Spedizioni.Models.Spedizione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSpedizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.peso)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.PrezzoSpedizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataConsegna)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destinazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.peso)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PrezzoSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsegna)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSpedizione">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSpedizione">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSpedizione">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
